
{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
    import { getAuth, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-auth.js";
    
    const firebaseConfig = {
      apiKey: "AIzaSyCiD36NHjVbcnKYxHSvkGx3YFbZBztJuDE",
      authDomain: "quiz-bfdee.firebaseapp.com",
      projectId: "quiz-bfdee",
      storageBucket: "quiz-bfdee.appspot.com",
      messagingSenderId: "105308538397",
      appId: "1:105308538397:web:6c66e7d397519f548128f4",
      measurementId: "G-9T5QDLEX52"
    };
  
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
  
    window.sendPasswordReset = function() {
      var email = document.getElementById('email').value;
      sendPasswordResetEmail(auth, email).then(function() {
        // Password reset email sent.
        var messageElement = document.getElementById('resetMessage');
        messageElement.textContent = 'Password reset email sent. Please check your inbox.';
        messageElement.style.color = 'green';
  
        // Redirect after 5 seconds
        setTimeout(function() {
          window.location.href = '/login'; // Adjust if your login route is different
        }, 5000); // 5000 milliseconds = 5 seconds
  
      }).catch(function(error) {
        // Error occurred. Inspect error.code and error.message.
        document.getElementById('resetMessage').textContent = 'Error sending password reset email: ' + error.message;
        document.getElementById('resetMessage').style.color = 'red';
      });
    }
  </script>
  



<div class="container">
  <h2>Reset Password</h2>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" class="form-control" required>
  </div>
  <button onclick="sendPasswordReset()" class="btn btn-primary">Request Password Reset</button>
  <div id="resetMessage" class="mt-3"></div> <!-- Feedback message will appear here -->
</div>
{% endblock %}













